div[id="root"] {

    position: absolute;
    top: 0;
    left: 0;

}

.field {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
}

td {
    border: 0.5px solid black;
    width: 100px;
    height: 100px;
}

p {
    font-size: 15px;
    padding-left: 0px;
    padding-top: 0px;
}

.log {
    height: 300px;
    overflow-y: auto; 
    border: 1px solid #ccc; 
    padding: 0px; 
}